<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="loggerFilepath" value="../../../errorLogs.txt"/>
		<add key="Salt" value="jUrfH0NEfeMoPboYzvGlDht5kfJym/JBucfORBxr2cNaJ/386PoGO1kR8+xOVfnmqy3IZ0WSuBng514smhfNag==" />
		<add key="LicenseKey" value="XsZAb - tgz3PsD - qYh69un - WQCEx" />
	</appSettings>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=85.190.254.173;
			Initial Catalog=2122_INF1c_db2; 
			User=2122_INF1c_groep2; 
			Password=7Ty?W$8j6HMQ"/>
	</connectionStrings>
</configuration>